.landing_hero_section {
  background-color: var(--blue-light);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  padding: 30px;
  padding-top: 12vh;
  padding-bottom: 0;

  .hero_content_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    .section {
      height: 100%;
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
      height: max-content;
      min-height: 80vh;
      .hero-second-image {
        max-width: 200px;
      }
    }
  }
  .hero-image {
    width: 87%;
    height: auto;
    object-fit: contain;
    max-height: 70vh;
  }
  .hero-hide {
    display: none;
  }
  .hero-second-image {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 425px;
    bottom: 0%;
    right: 15vw;
    transform: translate(-0%, 32.5%) !important;
    @media screen and (max-width: 900px) {
      right: 0%;
      left: 0%;
    }
  }

  .right_area {
    position: relative;
    // background-color: red;
    // background-image: url(/images/home/hero.webp);
    // background-repeat: no-repeat;
    // background-position: bottom right;
    // background-size: contain;
  }
  @media screen and (max-width: 900px) {
    height: max-content;
    padding-top: 14vh;
    min-height: 80vh;
    .hero-image {
      max-height: 45vh;
    }
  }
}

.happy_pets_section {
  min-height: 90vh;
  // min-width: 100vw;
  width: 100%;
  // background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  .happy-pets-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 525px;
  }
  .happy-pets-dog-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100px;
  }
  .our-promise-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 350px;
  }
  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 20px;
  }
}

.we_are_best_in_section {
  min-height: max-content;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  .cat-paw-image {
    position: absolute;
    z-index: -1;
    right: -30%;
    top: -100px;
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 300px;
    @media screen and (max-width: 1600px) {
      right: -200px;
    }
    @media screen and (max-width: 1440px) {
      right: -140px;
    }

    @media screen and (max-width: 1200px) {
      right: -120px;
    }
    @media screen and (max-width: 600px) {
      max-width: 200px;
    }
  }
}

.services_container {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: flex-end;
  // place-items: center;
  .service_item {
    cursor: pointer;
    label {
      cursor: pointer;
    }
  }
  .service_icon {
    width: 100%;
    background-color: var(--blue-light);

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    height: 120px;
    width: 120px;
    max-height: 120px;
    max-width: 120px;
    border-radius: 30%;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: var(--yellow);
    }

    .service_icon_image {
      width: 100%;
      height: auto;
      object-fit: contain;
      max-width: 60px;
      transition: all 0.2s ease-in;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 340px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.why_rely_us_section {
  min-height: max-content;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  .wings-image {
    position: absolute;
    left: -30px;
    top: 0%;
    transform: translate(0%, 0%);
    width: 15vw;
    max-width: 225px;
    height: auto;
    object-fit: contain;
  }
  .reasons-container {
    width: 100%;
    height: 100%;
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 40px;
    padding: 0 30px;

    .reason_item {
      position: relative;
      width: 100%;
      height: 100%;
      .reason_icon {
        margin-right: 40px;
      }
      .dog-paw {
        width: 25px;
        height: 25px;
        object-fit: contain;
      }

      @media screen and (max-width: 600px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center !important;
        .reason_icon {
          margin-right: 0;
          margin-bottom: 20px;
          justify-content: center;
          align-items: center;
        }
        .reason_desc {
          justify-content: center;
          align-items: center !important;
          p {
            text-align: center;
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.lets-meet-section {
  margin-top: 100px;
  margin-bottom: 100px;
  gap: 40px;
  .lets_meet_map_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 20px;
    .lets_meet_iframe {
      width: 100%;
      border: 0;
      border-radius: 20px;
    }
  }
  .location_container {
    max-width: 1000px;
  }
}

.location_detail_container {
  border-bottom: 1px solid var(--dark-light);
  padding-bottom: 40px;
}
