:root {
  --blue: #{$blue};
  --blue-light: #{$blue-light};
  --dark: #{$dark};
  --white: #{$white};
  --yellow: #{$yellow};
  --white-main: #{$white-main};
  --dark-light: #{$dark-light};
  --dark-blue: #{$blue-dark};
}
